/*media query start here */

@media only screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 721px) {
  .nav-btn {
    display: none;
  }
  .navigation-bar {
    @include for-center;
    flex-direction: column;
    position: fixed;
    top:0;
    left:0;
    background-color: $primary;
    a{
      color: $light-white;
    }
  }
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 14px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .hero-container {
    @include for-center;
    flex-direction: column;
    margin-top: 8rem;
  }
  .universities-container {
    @include for-center;

    grid-template-rows: 20% 1fr;
    grid-template-columns: 1fr;
  }
  .university-logos {
    margin-top: 2rem;
  }
  .learning-container {
    @include for-center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 20%);
    grid-template-areas: "how" "imga" "imga" "gri1" "gri2" "gri3" "gri4";
  }
  .icon-learning {
    margin: 0 auto;
  }
  .course-container {
    @include for-center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 5% 1fr 1fr 1fr;
    grid-template-areas: "heading" "button" "card1" "card2" "card3" "card3";
    justify-items: center;
    margin-top: 30rem;
  }
  .course-btn {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: button;
  }
  .course-card {
    margin-left: 0;
  }
  .features-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    h2 {
      margin-top: 2rem 0;
    }
    > p {
      margin-top: 2.5rem 0;
    }
  }
  #features {
    margin-top: 20rem;
    display: grid;
  }
  .review-comments {
    @include for-center;
    flex-direction: column;

    padding: 0.3rem;
    b {
      margin: 0.8rem 0;
    }
    p {
      margin: 0.8rem 0;
    }
    img {
      margin: 0.8rem 0;
    }
  }
  .review-heading {
    justify-content: center;
    text-align: center;
  }
  .pricing-header {
    @include for-center;
    flex-direction: column;
    gap: 1rem;
  }
  .pricing-card {
    @include for-center;
    gap: 1rem;
  }
  .footer-container {
    p {
      margin-top: 1rem;
    }
    margin: 3rem 0;
    grid-template-columns: 1fr;
    text-align: center;
    ul {
      li {
        margin: 1rem;
      }
    }
  }
  #copyright {
    text-align: center;
  }
}
