// universities section  =-----

@mixin button--colors( $background : $primary , $color:$light-white ) {
  background-color: $background;
  color: $color;
}


@mixin blue-btn {
  @include button--colors($background :$light-white , $color:$seconday-blue );
  border: 1px solid #2076ff;
  width: map-get($map: $btn-width, $key:"bluebtn" );
  height: 60px;
}

@mixin price-btn {
  width: map-get($map: $btn-width, $key:"price-btn" );
  height: 70px;
  border: 1px solid #f6c07a;
  font-weight: 600;
  flex: 1;
}
@mixin flex-1 {
  display: flex;
  flex-direction: column;
}
@mixin flex-2 {
  display: flex;
	flex-direction: row;
}
@mixin universities-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

@mixin learning-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas: "imga how how" " imga gri1 gri2 " " imga gri3 gri4 ";
}

@mixin course-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 30% 1fr;
	grid-template-areas: "heading heading button" "card1 card2 card3";
}
@mixin footer-container{
  display: grid;
  grid-template-columns: 25% 1fr 1fr 1fr;
  column-gap: 5rem;
}

@mixin blue-bg-box{
  flex: 1;
	width: 305px;
	height: 100px;
  font-weight: 600;
	font-size: 1.4rem;
	line-height: 38px;
  padding: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  // color: $light-white;
}
@mixin for-center{
  justify-content: center;
		align-items: center;
		text-align: center;
}