// mixins  ----

@mixin button--colors( $background : $primary , $color:$light-white ) {
  background-color: $background;
  color: $color;
}


@mixin blue-btn {
  @include button--colors($background :$light-white , $color:$seconday-blue );
  width: map-get($map: $btn-width, $key:"bluebtn" );
  border: 1px solid #2076ff;
  height: 60px;
}


@mixin font-family( $selectors...) {
    @for $i from 0 to length($selectors) {
      #{$selectors, $i + 1} {
        font-family: $font-family_1;
        font-style: normal;
        color: $grey-theme;
      }
    }
  }
 

@mixin for-center{
  justify-content: center;
		align-items: center;
		text-align: center;
}