/* hero section start here */





.hero-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.hero-main-content {
  @include flex-1;
  margin-bottom: 1.1rem;
  > p {
    margin-top: 1rem;
  }
}
#hero-btn {
  @extend .button-data;
  @include button--colors();
  margin-top: 1rem;
  width: map-get($map: $btn-width, $key:"home" );
  height: 62px;

}

.universities-container {
  @include universities-grid;
  align-items: center;
  width: 100%;
  .university-content {
    margin: 0 auto;
  }
  .university-logos {
    margin: 0 0.1rem;
  }
}
